body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


img{
    
    width: 140px;
    height: 140px;
}

h1 {
    color: rgb(8, 49, 73);
    font-style: oblique;
    font-size: bold;
}

span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 200px;
}